.profile {
  display: flex;
  align-items: center;
  &--background-light {
    background-color: $primary-main;
  }

  &__header {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  &__avatar {
    width: $profile-avatar;
    height: $profile-avatar;
    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;

    &--small {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: $profile-avatar;
    justify-content: space-evenly;
  }

  &__about,
  &__last-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: $chat-list-width - 95;
    color: $gray;
  }
}

.profile-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .profile__avatar {
    margin-bottom: 12px;
  }
}

.active-profile {
  color: $primary-white;
  background: $primary-blue;

  &:hover {
    background: $primary-blue;
  }

  .profile__last-message {
    color: $primary-white;
  }
}
