.button {
  background-color: $primary-blue;
  color: $primary-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 5px;

  & .svg-icon {
    margin-left: 6px;
  }

  &:hover {
    background-color: $primary-blue-darker;
  }
}

.center-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary-white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-light;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-lighter;
  }
}
