* {
	box-sizing: border-box;
}
  
html {
	font-size: 16px;
	min-width: 100%;
	height: 100%;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
	background-color: $primary-light;
	color: $primary-white;
}

.telegram {
	max-width: $layout-desktop-width;
	background: $primary-light;
	margin: 0 auto;
	height: 100%;
	display: flex;
}

.chat-list {
	background: $primary-main;
	height: 100%;
	width: $chat-list-width;
	overflow-y: auto;

	&ــitems {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&ــitem {
		&:hover{
			cursor: pointer;
			background-color: $primary-light-hover;
		}
	}
}

.profile {
	display: flex;
	align-items: center;

	&--background-light {
		background-color: $primary-main;
	}

	&__avatar {
		width: $profile-avatar;
		height: $profile-avatar;
		display: inline-block;

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border-radius: 100%;

		&--small {
			width: 30px;
			height: 30px;
			margin-right: 5px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		height: $profile-avatar;
		justify-content: space-evenly;
	}

	&__about,
	&__last-message {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: $chat-list-width - 95;
		color: $gray;
	}
}

.chat-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat-page {
	background: $primary-dark;
	height: 100%;
	width: 65%;

	&__start-messaging {
		background-color: $primary-light;
		border-radius: 15px;
		padding: 5px 15px;
		margin: 10px;
	}

	&__main {
		overflow: auto;
		height: calc(100vh - 66px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__messages {
		margin-bottom: 10px;
	}

	&__message {
		display: flex;
		align-items: flex-end;
		margin: 0 6px 10px;
	}

	&__texts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;

		&:last-child::after {
			background-color: $primary-blue;
			content: "";
			width: 8px;
			height: 6px;
			position: absolute;
			bottom: 0;
			left: -4px;
		}

		&:last-child::before {
			background-color: $primary-dark;
			content: "";
			width: 6px;
			height: 6px;
			position: absolute;
			bottom: 1px;
			z-index: 2;
			left: -6px;
			border-radius: 0 0 30PX 0;
		}

		&--freind:last-child::after {
			background-color: $primary-light;
		}
	}	

	&__text {
	background: $primary-blue;
	white-space: pre-line;
    border-radius: 5px;
    padding: 5px;
    min-height: 30px;
	display: block;
	margin-top: 3px;
	
		&--freind {
			background: $primary-light;
		}
	}

	&__send-message,
	&__input-area {
		background: $primary-main;
		color: $primary-white;
	}

	&__send-message {
		padding: 7px;
		display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
	}

	&__input-area {
		border: none;
		outline: none;
		resize: none;
		max-height: 250px;
		min-height: 23px;
		height: 23px;
		overflow-y: auto;
		flex-grow: 2;
	}

	&__send-button {
		border: none;
		border-radius: 5px;
		outline: none;
		cursor: pointer;
		background-color: $primary-blue;
		color: $primary-white;
		text-transform: uppercase;
		padding: 5px 10px;
		margin-left: 6px;
	}
}

.active-profile {
	color: $primary-white;
	background: $primary-blue;

	&:hover{
		background: $primary-blue;
	}

	.profile__last-message {
		color: $primary-white;
	}
}

@media only screen and (max-width: $layout-tablet-width) {
	.chat-list {
		min-width: $chat-list-tablet-width;
	}

	.chat-page {
		width: 100%;
	}

	.profile {
		&__last-message {
			width: $chat-list-tablet-width - 95;
		}
	}
}

@media only screen and (max-width: $layout-tablet-small-width) {
	.telegram {
		flex-direction: column;
		height: auto;
	}

	.chat-list {
		width: 100%;
		min-width: 100%;
	}

	.profile {
		&__last-message {
			width: 100%;
			white-space: normal;
		}
	}
}
