/*
* Colors
*/
$primary-light: #242f3d;
$primary-main: #17212b;
$primary-dark: #0e1621;
$primary-white: #fefefe;

/*
* Sizes
*/
$layout-desktop-width: 1200px;
$layout-tablet-width: 980px;
$layout-tablet-small-width: 600px;

$chat-list-width: 380px;
$chat-list-tablet-width: 300px;
$profile-avatar: 52px;
